<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taptap.demo.mapper.DeveloperGameMapper">
    <resultMap id="developerGameMapper" type="com.taptap.demo.entity.DeveloperGame">
        <id column="developer" property="developer"></id>
        <result column="avg_game_evaluation" property="avgGameEvaluation"></result>
    </resultMap>

    <select id="getDeveloperGameList" resultMap="developerGameMapper">
        select developer.developer,developer_game.avg_game_evaluation
        from developer,developer_game
        where developer.developer = developer_game.developer
    </select>
</mapper>