<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taptap.demo.mapper.DownloadHotnessMapper">
<resultMap id="downloadHotnessMap" type="com.taptap.demo.entity.DownloadHotness">
    <id column="hotness" property="hotness"></id>
    <result column="downloading" property="downloading"></result>
</resultMap>

<select id="getDownloadHotnessList" resultMap="downloadHotnessMap">
      SELECT downloading,hotness from relation_downloading_hotness
    </select>
</mapper>