<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taptap.demo.mapper.PopularNewGameTypeMapper">
    <resultMap id="popularNewGameTypeMap" type="com.taptap.demo.entity.PopularNewGameType">
        <id column="type" property="type"></id>
        <result column="num" property="num"></result>
        <result column="distribution" property="distribution"></result>
    </resultMap>


    <select id="getPopularNewGameTypeList" resultMap="popularNewGameTypeMap">
      SELECT type,num,distribution from popular_new_game_type
</select>

</mapper>