<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taptap.demo.mapper.WellSaleGameTypeMapper">
    <resultMap id="wellSaleGameTypeMap" type="com.taptap.demo.entity.WellSaleGameType">
        <id column="type" property="type"></id>
        <result column="num" property="num"></result>

    </resultMap>

    <resultMap id="wellSaleGameDisTypeMap" type="com.taptap.demo.entity.WellSaleGameType">
        <id column="type" property="type"></id>
        <result column="num" property="num"></result>
        <result column="distribution" property="distribution"></result>
    </resultMap>



    <select id="getWellSaleGameDisTypeList" resultMap="wellSaleGameDisTypeMap">
      SELECT type,num,distribution from well_sale_game_type
</select>

    <select id="getWellSaleGameTypeList" resultMap="wellSaleGameTypeMap">
      SELECT type,num from well_sale_game_type
    </select>
</mapper>